.scheme {
  background-color: #f3f3f3;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    margin-top: 30px;
  }
  &__img {
    min-height: 58px;
  }
  &__text {
    max-width: 360px;
  }
}