@media (max-width: 1200px) {
  .privileges {
    &__wrapper {
      grid-template: 340px / repeat(3,300px);
      grid-auto-rows: 340px;
    }
  }
}
@media (max-width: 992px) {
  .privileges {
    &__wrapper {
      grid-template: 366px / repeat(3,228px);
      column-gap: 18px;
      grid-auto-rows: 366px;
    }
  }
}
@media (max-width: 768px) {
  .privileges {
    &__wrapper {
      grid-template: 325px / repeat(2,261px);
      row-gap: 15px;
      grid-auto-rows: 325px;
    }
  }
}
@media (max-width: 576px) {
  .privileges {
    &__wrapper {
      grid-template: 336px / auto;
    }
  }
}

